# Backup Directory
backup/

!phpStorm/*.jar

# Composer
# Because we symlink the composer directory to ~, we don't want to cache all the things brought in via composer.
composer/*
# However, we do want the following files:
!composer/install.sh
!composer/composer.json
!composer/config.json

# GitHub CLI
gh/hosts.yml

# Neovim
nvim/autoload
nvim/backups
nvim/plugged
nvim/undo

# We generate the terminfo file through the install script.
*.terminfo

# ZSH
zsh
!zsh/.zshenv
!zsh/.zshrc
!zsh/install.sh
!zsh/zsh_plugins.txt
