snippet "BRN[- ]?([\d]{5})" "Generate link to the MoO BRN Jira task." r
[BRN-`!p snip.rv=match.group(1)`](https://jira.mutualofomaha.com/jira/browse/BRN-`!p snip.rv=match.group(1)`)
endsnippet


snippet UNRELEASED "Default UNRELEASED state for a changelog following <keepachangelog.com> format."
UNRELEASED
----------
### Added

### Changed

### Deprecated

### Removed

### Fixed

### Security



endsnippet
